
{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}?v=3">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">

<div class="login-page">
    <div class="login-left">
        <h2 class="login-title">Access Now</h2>

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username here" required />
            </div>

            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" placeholder="Enter your email here"required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password here"required>
            </div>

            <div class="login-options">
                <label><input type="checkbox" name="remember_me"> Remember me</label>
                <a href="#" class="forgot-password">Forgot Password?</a>
            </div>

            <button type="submit" class="login-btn">Login</button>

            <div class="separator">
                <hr><span>OR</span><hr>
            </div>

            <div class="social-login">
                <button type="button" class="google-login">
                    <img src="{% static 'images/google.png' %}" alt="Google" />
                </button>
                <button type="button" class="facebook-login">
                    <img src="{% static 'images/facebook.png' %}" alt="Facebook" />
                </button>
            </div>
        </form>
    </div>

    <div class="login-right">
        <div class="banner-content">
            <h1>Welcome Back!</h1>
            <p>Access Your <strong>Rentals</strong><br>& <span class="highlight">Rock Your Events.</span></p>
        </div>
    </div>
</div>
{% endblock %}
