{% extends 'base.html' %}

{% block content %}
<h2>Booking Details</h2>
<ul>
  <li><strong>Package:</strong> {{ booking.package.title }}</li>
  <li><strong>Event Type:</strong> {{ booking.event_type }}</li>
  <li><strong>Date:</strong> {{ booking.event_date }}</li>
  <li><strong>Time:</strong> {{ booking.event_time }}</li>
  <p><strong>End Time:</strong> {{ booking.end_time|time:"g:i A" }}</p>
  <li><strong>Location:</strong> {{ booking.location }}</li>
  <li><strong>Status:</strong> {{ booking.status }}</li>
  <li><strong>Total:</strong> {{ booking.price }}</li>

  {% if booking.status == "Rejected" and booking.reject_reason %}
      <li style="color: red;">
        <strong>Reason for Rejection:</strong> {{ booking.reject_reason }}
      </li>
  {% endif %}
</ul>

<a href="{% url 'mybookings' %}">← Back to My Bookings</a>
{% endblock %}