{% extends 'client-base.html' %}
{% block title %}Booking Details{% endblock %}

{% block content %}
<h2>Booking Details for {{ booking.package.title }}</h2>
<p><strong>Full Name:</strong> {{ booking.full_name }}</p>
<p><strong>Email:</strong> {{ booking.email }}</p>
<p><strong>Contact Number:</strong> {{ booking.contact_number }}</p>
<p><strong>Event Date:</strong> {{ booking.event_date }}</p>
<p><strong>Event Time:</strong> {{ booking.event_time }}</p>
<p><strong>End Time:</strong> {{ booking.end_time|time:"g:i A" }}</p>
<p><strong>Event Type:</strong> {{ booking.event_type }}</p>
<p><strong>Location:</strong> {{ booking.location }}</p>
<p><strong>Audience Size:</strong> {{ booking.audience_size }}</p>
<p><strong>Status:</strong> {{ booking.status }}</p>
{% endblock %}
